<div class="menu">
  <a href="/users/login" class="nes-btn is-warning">
    <i class="nes-icon like is-small"></i> Login</a>
</div>
<section class="nes-container with-title">
  <h2 class="title">Register User</h2>
  <form action="/users/register" method="POST">
    <div class="nes-field">
      <label for="email">Email</label>
      <input class="nes-input" type="email" name="email" placeholder="me@email.com" required />
    </div>
    <div class="nes-field">
      <label for="password">Password</label>
      <input class="nes-input" type="password" name="password" placeholder="super secret password" required />
    </div>
    <div class="nes-field">
      <label for="password-confirm">Confirm Password</label>
      <input class="nes-input" type="password" name="password-confirm" placeholder="super secret confirmation password" required />
    </div>
    <button type="submit" class="nes-btn is-primary">Save</button>
  </form>
</section>
