<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Halo Express</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Notes</h1>
  <% if ( notes ) {%>
    <ul>
      <% notes.forEach(function (note) { %>
        <li><a href="#"><%= note.title %></a></li>
      <% }) %>
    </ul>
  <% } else { %>
    <div>No notes yet...</div>
  <% } %>
</body>
</html>
