<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Express Notes</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="">
    <div class="nes-container is-rounded">
      <h1 class=""><a href="/">Express Notes</a></h1>
      <%- body %>
    </div>
  </body>
</html>
