<section class="nes-container with-title">
<h2 class="title">Create Note</h2>
<form class="item" method="post" action="/notes">
  <div class="nes-field">
    <label for="title">Title</label>
    <input class="nes-input" type="text" name="title" />
    <label for="body">Body</label>
    <textarea id="body" name="body" class="nes-textarea" cols="30" rows="10"></textarea>
    <button type="submit" class="nes-btn is-primary">Save</button>
    <button type="reset" class="nes-btn">Reset</button>
  </div>
</form>
</section>
